venv
dist
build
archive
closecaption_*
subtitles_*
portal_*
gamefiles/portal/Portal translation - additions.csv
gamefiles/portal/Portal translation - closecaption.csv
gamefiles/portal/Portal translation - credits.csv.csv
__pycache__
.idea
*private.json